# Data and Analysis Plan: Predicting the Impact of Ocean Acidification on Coral Reefs in the Great Barrier Reef

### Team 35
- Sophie Louie
- Angelina Shalupova


### Project Goal:

## Data

### Overview

#### Pipeline Overview

`get_ph_and_cO2()`:
    This function obtains seawater pH levels and CO2 levels from a coral sample from the Great Barrier Reef and creates a clean DataFrame. 
    Source: https://www.ncdc.noaa.gov/paleo-search/study/10425

## Pipeline

In [30]:
import pandas as pd
from datetime import datetime

def get_ph_and_co2():
    """ Gets and cleans DataFrame of seawater ph and CO2 levels from GBR sample
    
    Returns:
        df_ph_co2 (pd.DataFrame): 
    """
    df_ph_co2 = pd.read_csv('arlington2009.csv')
    df_ph_co2.dropna(inplace=True)
    df_ph_co2.head()

    del df_ph_co2['SampleID']
    del df_ph_co2['        d13C (per mil VPDB) *c']
    del df_ph_co2['        d18O (per mil VPDB) *c']
    del df_ph_co2['        d11B (per mil) *d']
    del df_ph_co2['2sigma']
    del df_ph_co2['   2sigma mean *e']
    df_ph_co2.columns = ['Year', 'Mg/Ca (x10-3)', 'Sr/Ca (x10-3)', 'Ba/Ca (x10-6)', 'pH']

    return df_ph_co2

    
df_ph_co2 = get_ph_and_co2()

      Year  Mg/Ca (x10-3)  Sr/Ca (x10-3)  Ba/Ca (x10-6)    pH
0   1807.0          4.310          7.762           3.53  8.02
1   1812.0          4.139          7.910           4.03  8.13
2   1817.0          4.302          7.773           3.36  7.90
3   1822.0          4.101          7.792           3.71  8.05
4   1827.0          4.249          7.745           3.31  8.15
..     ...            ...            ...            ...   ...
87  2000.0          4.120          7.628           3.48  7.81
88  2001.0          4.160          7.653           3.46  7.76
89  2002.0          4.238          7.663           3.10  8.04
90  2003.0          4.196          7.752           4.40  8.03
91  2004.0          4.108          7.691          22.16  7.66

[92 rows x 5 columns]

## Data Visualization

pH and CO2 changes over the years:

In [ ]:
# graph

In [ ]:
# corr matrix

## Analysis Plan